@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto";
  background: #eef6fc;
  color: #000000;
}

body .container {
  margin: 0px auto;
  width: 100%;
}

@media screen and (min-width: 1921px) {
  body .container {
    max-width: 1920px;
    padding: 0px 150px 0px 150px;
  }
}

@media screen and (max-width: 1920px) {
  body .container {
    max-width: 1920px;
    padding: 0px 150px 0px 150px;
  }
}

@media screen and (max-width: 1440px) {
  body .container {
    max-width: 1440px;
    padding: 0px 100px 0px 100px;
  }
}

@media screen and (max-width: 1024px) {
  body .container {
    max-width: 1024px;
    padding: 0px 60px 0px 60px;
  }
}

@media screen and (max-width: 768px) {
  body .container {
    max-width: 768px;
    padding: 0px 25px 0px 25px;
  }
}

@media screen and (max-width: 425px) {
  body .container {
    max-width: 425px;
    padding: 0px 15px 0px 15px;
  }
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.title {
  font-family: Merienda One;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 130%;
  color: #000000;
  text-align: center;
}

.text {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1920px -1px) {
  .text {
    font-size: 20px;
  }
}

@media screen and (max-width: 425px) {
  .text {
    font-size: 16px;
  }
}

.paragraf {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 146%;
}

.button,
.products-column__link {
  margin: 0;
  padding: 12px 44px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
  background: #002d47;
  -webkit-box-shadow: 0px 13px 28px rgba(26, 127, 114, 0.2);
          box-shadow: 0px 13px 28px rgba(26, 127, 114, 0.2);
  border-radius: 30px;
  border: 1px solid transparent;
}

.button:hover, .button:focus,
.products-column__link:hover,
.products-column__link:focus {
  color: #4cbbc2;
  background: #ffffff;
  border: solid 1px #4cbbc2;
}

@media screen and (max-width: 1439px) {
  .button,
  .products-column__link {
    padding: 12px 30px;
    font-size: 18px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__fb,
.social__in {
  margin-right: 30px;
}

.social__icon {
  fill: #eef6fc;
}

.social__icon:hover, .social__icon:focus {
  fill: #4cbbc2;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

@media screen and (min-width: 1440px) {
  .header {
    height: 130px;
  }
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1439px) {
  .header-logo {
    width: 90px;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1439px) {
  .header-menu__list {
    margin-bottom: 10px;
  }
  .header-menu__list:first-child {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .header-menu__list:not(:first-child) {
    margin-left: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .underline {
    position: relative;
  }
}

@media screen and (min-width: 1440px) {
  .underline::before {
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #4cbbc2;
  }
}

.header-menu__link {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 41px;
  color: inherit;
}

.header-menu__link:hover, .header-menu__link:focus {
  color: #4cbbc2;
}

.header-buttonBurger {
  position: relative;
  z-index: 8;
  width: 22px;
  height: 22px;
  padding: 0px;
  border: none;
  background-color: transparent;
  fill: #4cbbc2;
}

@media screen and (min-width: 1440px) {
  .header-buttonBurger {
    display: none;
  }
}

.header-buttonBurger .header-buttonBurger__close {
  display: none;
  fill: #4cbbc2;
}

.header-buttonBurger.is-open .header-buttonBurger__close {
  display: block;
  fill: #4cbbc2;
}

.header-buttonBurger.is-open .header-buttonBurger__burger {
  display: none;
}

.header-menu {
  padding: 0;
  margin: 0 0 0 250px;
}

@media screen and (min-width: 1440px) {
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1439px) {
  .header-menu {
    position: absolute;
    top: 80px;
    left: 0px;
    z-index: 7;
    display: none;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    text-align: center;
  }
  .header-menu.is-open {
    display: block;
  }
}

.header-contact {
  padding: 0px;
  margin: 0px;
}

.header-contact__tel {
  margin-bottom: 15px;
}

.header-contact__tel--link {
  color: black;
}

.header-contact__tel--link:hover, .header-contact__tel--link:focus {
  color: #4cbbc2;
}

.header-contact__tel--icon:hover, .header-contact__tel--icon:focus {
  fill: #4cbbc2;
}

.header-contact__adress {
  font-style: normal;
}

.header-contact__tel--icon,
.header-contact__adress--icon {
  fill: black;
  margin-right: 10px;
}

.slider {
  overflow: hidden;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  height: 80vh;
  border-radius: 10px;
  margin: 0 10px;
  cursor: pointer;
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 50%;
  left: 50%;
  margin: 0px;
  opacity: 0;
}

.slide.active {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.slide.active h3 {
  opacity: 1;
  -webkit-transition: opaсity 0.3s ease-in 0.4s;
  transition: opaсity 0.3s ease-in 0.4s;
}

.hero-content__title {
  font: "El Messiri";
  margin: 120px 0 22px 0;
  font-size: 78px;
  text-align: center;
  color: #002d47;
}

@media screen and (max-width: 425px) {
  .hero-content__title {
    margin: 20px 0 20px 0;
    font-size: 38px;
  }
}

.hero-content__subtitle {
  font-size: 45px;
  margin: 0 0 30px 0;
  text-align: center;
  color: white;
}

.hero-content__button {
  display: block;
  margin: 0 auto;
  padding: 19px 89px;
  font-size: 30px;
  color: #ffffff;
  background-color: #002d47;
  border-radius: 50px;
}

@media screen and (max-width: 425px) {
  .hero-content__button {
    margin: 0 0 60px 0;
    font-size: 20px;
  }
}

.modal {
  z-index: 3;
  position: absolute;
  width: 500px;
  background-color: #ffffff;
  border-radius: 7px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 425px) {
  .modal {
    max-width: 375px;
  }
}

@media screen and (max-width: 375px) {
  .modal {
    max-width: 300px;
  }
}

.backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(21, 21, 21, 0.12);
  z-index: 2;
  pointer-events: none;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
}

.modal-form__title {
  font-family: inherit;
  font-weight: bold;
  font-size: 24px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  display: block;
  margin: 20px 0px 12px 0px;
}

.modal-form {
  padding-left: 40px;
  padding-right: 40px;
}

.modal-form__input {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 15px auto;
  padding: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .modal-form__input {
    max-width: 350px;
  }
}

@media screen and (max-width: 500px) {
  .modal-form__input {
    max-width: 300px;
  }
}

@media screen and (max-width: 375px) {
  .modal-form__input {
    max-width: 250px;
  }
}

.modal-form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal-close {
  position: relative;
  right: -90%;
  top: 10px;
  font-family: Verdana;
  font-style: normal;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.modal-close:hover {
  color: #4cbbc2;
}

@media screen and (max-width: 425px) {
  .modal-close {
    right: -165px;
  }
}

.products {
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .products-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.products-column {
  width: 420px;
  padding: 50px 46px 96px 48px;
  text-align: center;
  background: #ffffff;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 18px rgba(59, 130, 139, 0.18);
          box-shadow: 0 4px 18px rgba(59, 130, 139, 0.18);
}

@media screen and (max-width: 1023px) {
  .products-column {
    margin: 0 auto;
    width: 280px;
  }
  .products-column:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1919px) {
  .products-column {
    padding: 30px 34px 30px 34px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .products-column {
    margin: 15px;
  }
}

.products-column__img {
  display: inline-block;
  margin-bottom: 16px;
}

.products-column__paragraf {
  margin: 0 0 20px 0;
  text-align: center;
  color: #000000;
}

.products-column__text {
  margin: 0 0 38px 0;
  font-size: 18px;
  text-align: center;
  color: #000000;
}

.practice {
  padding: 50px 0 30px 0;
}

@media screen and (max-width: 768px) {
  .practice {
    padding: 0;
  }
}

@media screen and (min-width: 1440px) {
  .practice-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.practice-img {
  min-width: 500px;
  height: 500px;
  margin-right: 30px;
}

@media screen and (min-width: 768px) {
  .practice-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1920px) {
  .practice-column {
    margin-left: 207px;
  }
}

.practice-row {
  width: 530px;
  padding: 35px 40px;
  margin: 10px;
  background: #ffffff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 18px rgba(59, 130, 139, 0.18);
          box-shadow: 0px 4px 18px rgba(59, 130, 139, 0.18);
}

@media screen and (max-width: 768px) {
  .practice-row:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1439px) {
  .practice-row {
    width: 280px;
  }
}

.practice-title {
  max-width: 706px;
  margin: 0 auto;
  text-align: center;
  color: #000000;
}

@media screen and (max-width: 425px) {
  .practice-title {
    font-size: 38px;
  }
}

.practice-subtitle {
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 425px) {
  .practice-subtitle {
    margin: 22px auto;
    font-size: 18px;
  }
}

.practice-row__paragraf {
  margin: 0 0 10px 0;
  color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1024px) {
  .practice-row__paragraf {
    font-size: 22px;
  }
}

.practice-row__text {
  margin: 0;
}

@media screen and (max-width: 425px) {
  .practice-row__text {
    font-size: 20px;
  }
}

.best {
  padding: 120px 0 160px 0;
}

@media screen and (min-width: 1940px) {
  .best {
    padding: 80px 0 80px 0;
  }
}

.best-title {
  margin: 0 0 22px 0;
  text-align: center;
}

@media screen and (max-width: 1439px) {
  .best-title {
    margin: 0 0 10px 0;
    font-size: 38px;
  }
}

.best-subtitle {
  max-width: 1105px;
  margin: 0 auto 70px auto;
  text-align: center;
}

@media screen and (max-width: 1439px) {
  .best-subtitle {
    margin: 0 auto 30px auto;
  }
}

@media screen and (min-width: 1440px) {
  .best-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.best-row {
  position: relative;
  max-width: 597px;
  min-height: 200px;
  border-radius: 15px;
}

.best-row:not(:last-child) {
  margin-bottom: 100px;
}

@media screen and (max-width: 1439px) {
  .best-row {
    min-height: 150px;
    margin: 0px auto;
  }
  .best-row:not(:last-child) {
    margin-bottom: 30px;
  }
}

.best-row__left {
  padding: 25px 40px 25px 79px;
  text-align: right;
  background: -webkit-gradient(linear, right top, left top, color-stop(26.37%, #C3EEE8), color-stop(63.87%, rgba(195, 226, 222, 0.75)), color-stop(103.6%, rgba(231, 243, 242, 0.4)));
  background: linear-gradient(270deg, #C3EEE8 26.37%, rgba(195, 226, 222, 0.75) 63.87%, rgba(231, 243, 242, 0.4) 103.6%);
}

@media screen and (max-width: 1919px) {
  .best-row__left {
    padding: 20px 30px 20px 30px;
  }
}

.best-row__left::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: -webkit-gradient(linear, left top, right top, from(#edfbf9), to(#01574b));
  background: linear-gradient(to right, #edfbf9, #01574b);
  border-radius: 15px;
  z-index: -1;
}

.best-row__right {
  padding: 25px 79px 25px 40px;
  background: -webkit-gradient(linear, left top, right top, color-stop(26.37%, #C3EEE8), color-stop(63.87%, rgba(195, 226, 222, 0.75)), color-stop(103.6%, rgba(231, 243, 242, 0.4)));
  background: linear-gradient(90deg, #C3EEE8 26.37%, rgba(195, 226, 222, 0.75) 63.87%, rgba(231, 243, 242, 0.4) 103.6%);
  text-align: left;
}

@media screen and (max-width: 1919px) {
  .best-row__right {
    padding: 20px 30px 20px 30px;
  }
}

.best-row__right::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, from(#01574b), to(#edfbf9));
  background: linear-gradient(to right, #01574b, #edfbf9);
  border-radius: 15px;
}

.best-row__paragraf {
  margin: 0 0 15px 0;
  color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1919px) {
  .best-row__paragraf {
    font-size: 24px;
  }
}

.best-row__text {
  margin: 0;
}

.best-img {
  margin: 0 45px 0 70px;
}

@media screen and (max-width: 1439px) {
  .best-img {
    margin: 30px auto;
  }
}

.transform {
  padding: 50px 0 50px 0;
}

@media screen and (max-width: 1024px) {
  .transform {
    padding: 20px 0 20px 0;
  }
}

.transform-title {
  margin: 0 auto 22px auto;
}

@media screen and (max-width: 425px) {
  .transform-title {
    font-size: 38px;
  }
}

.transform-subtitle {
  max-width: 1105px;
  margin: 0 auto 70px auto;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .transform-subtitle {
    margin: 0 auto 20px auto;
    font-size: 18px;
  }
}

.transform-row:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 1440px) {
  .transform-row:not(:last-child) {
    margin-bottom: 108px;
  }
}

@media screen and (max-width: 1439px) {
  .transform-row {
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {
  .transform-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.transform-row__paragraf {
  max-width: 619px;
  margin: 0 auto 30px auto;
}

@media screen and (max-width: 1024px) {
  .transform-row__paragraf {
    margin: 0 auto 15px auto;
  }
}

.transform-row__text {
  max-width: 619px;
  margin: 0 auto 30px auto;
}

@media screen and (max-width: 1024px) {
  .transform-row__text {
    margin: 0 auto 15px auto;
  }
}

@media screen and (max-width: 1439px) {
  .transform-row__img {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1439px) {
  .transform-row__img--right {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .transform-row__img--right {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .transform-row__img--left {
    margin-right: 50px;
  }
}

.contact-section {
  padding: 30px 0px 30px 0px;
}

@media screen and (max-width: 425px) {
  .contact-section {
    padding: 50px 0px 0px 0px;
  }
}

.contact-title {
  margin: 0 0 30px 0;
  text-align: center;
}

.contact-map {
  margin-top: 30px;
  width: 100%;
  height: 500px;
}

@media screen and (max-width: 425px) {
  .contact-map {
    min-height: 300px;
  }
}

.contact-text {
  text-align: center;
  margin: 0 0 30px 0;
}

.contact-wrapper {
  padding: 20px;
  max-width: 600px;
  background-color: #fff;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
}

.contact-modal {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  min-height: 220px;
  padding: 45px 0 40px 0;
  text-align: center;
  background-color: #002d47;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 150px 0 40px 0;
  }
}

@media screen and (min-width: 1920px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 530px;
  }
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 37px 0;
}

.footer-menu {
  padding: 0;
  margin: 0 0 35px 0;
}

@media screen and (min-width: 768px) {
  .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-menu__list {
  position: relative;
}

@media screen and (min-width: 768px) {
  .footer-menu__list:not(:last-child) {
    margin-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .footer-menu__list:not(:last-child):before {
    content: '';
    position: absolute;
    left: 105%;
    bottom: 20px;
    display: inline-block;
    width: 30px;
    height: 2px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    background-color: #eef6fc;
  }
}

.footer-menu__link {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 41px;
  color: #eef6fc;
}

.footer-menu__link:hover, .footer-menu__link:focus {
  color: #4cbbc2;
}

@media screen and (max-width: 1024px) {
  .footer-menu__link {
    font-size: 22px;
  }
}

.thai-title {
  margin: 30px 0;
}

.thai-button {
  margin: 0 auto 30px auto;
  display: block;
}
/*# sourceMappingURL=main.css.map */