$color_white: #ffffff;
$color_black: #000000;


$color_medium: rgba(0, 0, 0, 0.5);
$color_dark: rgba(0, 0, 0, 0.8);


$color_basic: #eef6fc;
$color_accent2: #002d47;
$color_accent: #4cbbc2;
$color_accent3: #eedb5a;
$color-accent4: #ef5356;
$color-accent5: #faaf9c;

$font_basic: 'Roboto';
$font_details: 'El Messiri';


$mobile425: 425px;
$tablet768: 768px;
$desktop1024: 1024px;
$desktop1440: 1440px;
$desktop1920: 1920px;
